@import '../design/Glob.scss';

.landing_wrapper {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    user-select: none;
}

.copy_section {
    flex: 1;
}

.accent {
    background-color: $p;
    height: 0.25rem;
    border-radius: 5px;
    width: 12rem;
    display: block;
    margin-top: 0.75rem;
    margin-right: 12rem;
    display: flex;
    align-self: center;
}

.grabber {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    width: 70%;
    margin-top: 30px;
}

@media only screen and (max-width: 1199px) {
    .copy_section {
        h1 {
            font-size: 45px !important;
        }
        .grabber {
            font-size: 14px;
            width: 80%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .copy_section {
        h1 {
            font-size: 38px !important;
        }
        .grabber {
            font-size: 14px;
        }
        .accent {
            width: 10rem;
            margin-right: 9rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .landing_wrapper {
        flex-direction: column !important;
        height: 90vh;
    }
}

@media only screen and (max-width: 385px) {
    .landing_wrapper {
        height: 70vh;
    }
    .copy_section {
        h1 {
            font-size: 28px !important;
        }
    }
    .accent {
        width: 7rem !important;
        margin-right: 1rem !important;
    }
}