
.header_wrapper {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fcfffcc4;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    padding: 5px 15px;
    padding-left: 100px;
    user-select: none;

    h1 {
        font-size: 25px;
    }
}

.navSection {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding-left: 40px !important;
        padding-bottom: 5px !important;
    }
    .navSection {
        display: none !important;
    }
}
