

.school_list_wrapper {
    width: 100%;
    padding: 20px;
    background-color: #23273B;
}

.search_wrapper {
    width: 70%;
    padding-bottom: 20px;
}

.num_schools  {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.04051em;
    padding: 25px 0;
}
