
.school_list_wrapper {
    width: 100%;
    padding: 20px;
    background-color: #23273B;
}

.search_wrapper {
    width: 70%;
    padding-bottom: 20px;
}

.school_count {
    width: 100%;
    user-select: none;

    .num_schools  {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.04051em;
        padding: 25px 0;
    }

    .search_error  {
        color: rgb(235, 149, 51);
        font-weight: 600;
        letter-spacing: 0.04051em;
        padding: 25px 0;
    }
}

@media only screen and (max-width: 1000px) {
    .school_list_wrapper {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 500px) {
    .search_wrapper {
        width: 90% !important;
    }
}
