
.list_item_wrapper {
    box-shadow: inset 0px 1px 0px 0px rgb(255 255 255 / 10%), 0px 24px 41px 0px rgb(0 0 0 / 50%);
    background: #484C7A;
    color: #fff;
    border-radius: 5px;
    width: 500px;
    height: 100px;
    margin: 10px;
    padding: 10px 0;
    position: relative;
    text-align: center;
}

.school_name {
    margin: 2px 5px;
}

.location {
    font-size: 14px;
}

.school_type_wrapper {
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 10px 15px;
    user-select: none; 
    cursor: not-allowed;

    .school_type {
    font-size: 14px;
    padding: 3px 15px;
    border-radius: 16.5px;
    font-weight: 600;
    }
}

@media only screen and (max-width: 500px) {
    .school_type {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 385px) {
    .list_item_wrapper {
        height: 150px;
    }
}